
.custom-dialog-container {
  background-color:lightgray;  /*quita el fondo blanco */

}

h4 {
    background-color:lightblue;
    text-align: center;
}

.container {
    background-color:lightgray;
    width : 800px;
    height: 450px;

}
  .botonera {    
    background-color:lightgray;
    display: flex;
    justify-content:space-around;
    margin-top   : 10px;
    margin-bottom: 5px;
    width: 100%
}
.menserror {
   color : red
}