/* Esta clase se la envia detpedido cuando llama, es la panelClass*/
.custom-dialog-container {
  background-color:lightgray;  /*quita el fondo blanco */
 /* width : 800px;
  height: 450px;*/
  border-radius: 0px;
}

h4 {
    background-color:lightblue;
    text-align: center;
}


  .botonera {    
    background-color:lightgray;
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%
}

.centrado {
  text-align: center;
}

.derecha {
  text-align: right;
}
.menserror {
   color : red
}