@if (!isloading){
<div class="custom-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h4 mat-dialog-title>{{titulo}}</h4>                
     <!-- Sección de tabla con scroll -->
     @if (cantitems!==0) {
      <div class="row px-4 mb-1">
        <div class="col-auto">
         <input #prefcodigo (blur)="ingresoCodigo(prefcodigo.value)" selecText placeholder="Buscar por codigo">
        </div>          
        <div class="col-auto">
         <input #txtdesc (blur)="ingresoDesc(txtdesc.value)"  
                         selecText                    
                          placeholder="Buscar por descripcion">
        </div>          
      </div>
      
     <div class="table-container" style="overflow-x: auto">
       <table
           mat-table
           class="mat-elevation-z8 tabla-fija"
           [dataSource]="this.dataSource">

    
      <!-- Columna codigo -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef class="centrado">Código</th>
        <td mat-cell *matCellDef="let renLis" >
       {{ renLis.codigo }}</td>
      </ng-container>

      <!-- Columna codbarra -->
      <!--ng-container matColumnDef="codbarra">
        <th mat-header-cell *matHeaderCellDef class="centrado">Cod.Barra</th>
        <td mat-cell *matCellDef="let renLis">
          {{ renLis.codbarra }}</td>
      </ng-container-->
       
      <!-- Columna descripcion -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef class="centrado">Descripción</th>
        <td mat-cell *matCellDef="let renLis">{{ renLis.descripcion }}</td>
      </ng-container>

      <!-- Columna precio -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef class="centrado">Precio</th>
        <td mat-cell *matCellDef="let renLis">
           {{ renLis.precio | number:'1.2-2'  }}
        </td>
      </ng-container>

      <!-- Columna Tasa de Iva -->
      <!--ng-container matColumnDef="iva">
        <th mat-header-cell *matHeaderCellDef class="centrado">T.IVA</th>
        <td mat-cell *matCellDef="let renLis">{{ renLis.tiva | number:'1.2-2'  }}</td>
      </ng-container-->

       <!-- Columna unidad -->
      <ng-container matColumnDef="unidad">
        <th mat-header-cell *matHeaderCellDef class="centrado">Unidad</th>
        <td mat-cell *matCellDef="let renLis">{{ renLis.unidad }}</td>
      </ng-container>
     
      <!-- Columna moneda -->
      <ng-container matColumnDef="moneda">
        <th mat-header-cell *matHeaderCellDef class="centrado">Moneda</th>
        <td mat-cell *matCellDef="let renLis">{{ renLis.moneda }}</td>
      </ng-container>

       <!-- Columna Fecha up -->
      <ng-container matColumnDef="fechaup">
        <th mat-header-cell *matHeaderCellDef class="centrado">Fecha Act.</th>
        <td mat-cell *matCellDef="let renLis">{{ renLis.fechaup | date : "dd/MM/yyyy" }}</td>
      </ng-container>

       <!-- Columna Sel -->
      <ng-container matColumnDef="sel">
        <th mat-header-cell *matHeaderCellDef class="centrado">Sel</th>
        <td mat-cell *matCellDef="let renLis">{{ renLis.sel }}</td>
      </ng-container>


      <!-- Definición de filas -->
      <tr mat-header-row *matHeaderRowDef="colLista; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: colLista"
       [ngClass]="{'rowsel': row.sel === 1}"
       (click)="seleccionoFila(row.codigo)">
      </tr>    
    </table>
  </div>
  }
  <div class="botonera">            
    <button class="btn btn-sm btn-outline-primary me-5"
           [disabled]="itemsSel===0"
           (click)="aceptarSeleccion()"
           >Aceptar</button>                                           
    <button class="btn btn-sm btn-outline-secondary" (click)="Anular()">Cancelar</button>                       
  </div>  
</div>
}

