
<div class="pedidos-container">

  <!-- Encabezado -->
  <div class="row encabezado-pedidos align-items-center g-2">

    <div class="col-auto">
      <div class="header">
        <h4>PEDIDOS A PROVEEDORES</h4>
      </div>
    </div>

    <div class="col-auto">
      <input
        #filtroInput
        class="form-control"
        (keyup)="aplicarFiltro(filtroInput.value)"
        placeholder="Filtrar por proveedor"
      >
    </div>

    <!--div class="col-2">
      < Espacio si lo necesitás >
    </div-->
    <div class="col-auto">
      <button
        class="btn btn-success btn-sm add-button"
        (click)="imprimirCodigos()"
      >
        <i class="bi bi-plus-circle me-1"></i>
        Imp.Codigos
       </button>
    </div>
    <div class="col-auto">
      <button
        class="btn btn-primary btn-sm add-button"
        (click)="agPedido()"
      >
        <i class="bi bi-plus-circle me-1"></i>
        Ag. Pedido
      </button>
    </div>

  </div>


  <!-- Tabla -->
  <div class="table-container">

    <table
      mat-table
      class="mat-elevation-z8"
      [dataSource]="dataSource"
    >

      <!-- Nro Pedido -->
      <ng-container matColumnDef="nropedido">
        <th mat-header-cell *matHeaderCellDef>Nro</th>
        <td mat-cell *matCellDef="let renPed">
          {{ renPed.nropedido }}
        </td>
      </ng-container>

      <!-- Fecha Alta -->
      <ng-container matColumnDef="fechaalta">
        <th mat-header-cell *matHeaderCellDef class="centrado">
          Fecha Alta
        </th>
        <td mat-cell *matCellDef="let renPed">
          {{ renPed.fechaalta | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- Fecha Update -->
      <ng-container matColumnDef="fechaup">
        <th mat-header-cell *matHeaderCellDef class="centrado">
          Fecha Act
        </th>
        <td mat-cell *matCellDef="let renPed">
          {{ renPed.fechaup | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- Nro Proveedor -->
      <ng-container matColumnDef="nroproveedor">
        <th mat-header-cell *matHeaderCellDef>
          Nro.Prov
        </th>
        <td mat-cell *matCellDef="let renPed">
          {{ renPed.nroproveedor }}
        </td>
      </ng-container>

      <!-- Proveedor -->
      <ng-container matColumnDef="proveedor">
        <th mat-header-cell *matHeaderCellDef class="centrado">
          Proveedor
        </th>
        <td mat-cell *matCellDef="let renPed">
          {{ renPed.proveedor }}
        </td>
      </ng-container>

      <!-- Cantidad Items -->
      <ng-container matColumnDef="cantitems">
        <th mat-header-cell *matHeaderCellDef>
          Cant. Items
        </th>
        <td mat-cell *matCellDef="let renPed">
          {{ renPed.cantitems }}
        </td>
      </ng-container>

      <!-- Comentario -->
      <ng-container matColumnDef="coment">
        <th mat-header-cell *matHeaderCellDef class="centrado">
          Comentario
        </th>
        <td mat-cell *matCellDef="let renPed">
          {{ renPed.coment }}
        </td>
      </ng-container>

      <!-- Borrar -->
      <ng-container matColumnDef="B">
        <th mat-header-cell *matHeaderCellDef>Bor</th>

        <td mat-cell *matCellDef="let renPed">
          <div class="text-center">
            <button
              mat-icon-button
              class="action-btn"
              title="borrar pedido"
              (click)="borrarPedido(renPed.nropedido, renPed.proveedor); $event.stopPropagation()"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Filas -->
      <tr
        mat-header-row
        *matHeaderRowDef="esMovil ? colPedidosMovil : colPedidos; sticky: true">
      </tr>

      <tr
        mat-row
        *matRowDef="let row; columns: esMovil ? colPedidosMovil : colPedidos"
        (click)="modificarDetallePedido(
          row.nropedido,
          row.nroproveedor,
          row.proveedor
        )">
      </tr>

    </table>

  </div>

</div>


