.pedidos-container {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Encabezado */
.encabezado-pedidos {
  margin-bottom: 10px;
}

.header h4 {
   background-color: #b6c1dd;
  margin: 0;
   padding: 8px 16px;
  border-radius: 4px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

/* Input */
.encabezado-pedidos input {
  width: 100%;
  box-sizing: border-box;
}

/* Botón */
.add-button {
  white-space: nowrap;
}

/* Contenedor de la tabla */
.table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

/* La tabla puede tener un ancho mínimo */
.table-container table {
  width: 100%;
  min-width: 850px;
}

.mat-mdc-row {
  height: 35px;
  min-height: 10px;
  font-size: 16px;
  transition: background-color 0.2s ease;
}
.mat-mdc-row:nth-child(odd) {
  background-color: white;
  color: black;
}

.mat-mdc-row:nth-child(even) {
  background-color: #b6c1dd;
  color: black;
}

.mat-mdc-header-row {
  background-color: #b6c1dd;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mat-mdc-row:hover {
  background-color: #e8edf5;
}
/* Celdas */
.mat-mdc-header-cell,
.mat-mdc-cell {
  padding-left: 8px;
  padding-right: 8px;
}

/* Centrado */
.centrado {
  text-align: center;
}

.mat-column-nropedido,
.mat-column-fechaalta,
.mat-column-fechaup,
.mat-column-nroproveedor,
.mat-column-cantitems
 {
  text-align: center;
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width: 768px) {

  .pedidos-container {
    padding: 8px;
  }

  .header h4 {
    font-size: 18px;
  }

  .add-button {
    width: 100%;
  }

}


/* ========================= */
/* CELULAR */
/* ========================= */

@media (max-width: 576px) {

  .pedidos-container {
    padding: 5px;
  }

  .header {
    text-align: center;
  }

  .header h4 {
    font-size: 17px;
  }

  .encabezado-pedidos {
    margin-bottom: 8px;
  }

  .add-button {
    width: 100%;
  }

  .table-container table {
    min-width: 850px;
  }

}